.git
.gitignore
.git_old

frontend/node_modules
frontend/dist

backend/.venv
backend/__pycache__
backend/.pytest_cache
backend/.mypy_cache

backend/.env

backend/uploads
backend/converted
backend/temp
backend/logs

*.pyc
*.pyo
*.pyd